.positionHome-grid-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1.5fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas:
      "positionHome-left positionHome-centerUp-left positionHome-centerUp-left positionHome-centerUp-left positionHome-centerUp-right positionHome-right"
      "positionHome-left positionHome-center-first positionHome-center-second positionHome-center-third positionHome-center-fourth positionHome-right";
}
  
.positionHome-left { 
  grid-area: positionHome-left; 
  border: solid 2px gray;
}
  
.positionHome-right { 
  grid-area: positionHome-right;
  border: solid 2px gray; 
}
  
.positionHome-centerUp-left { 
  grid-area: positionHome-centerUp-left;
  border: solid 2px gray;
}
  
.positionHome-centerUp-right { 
  grid-area: positionHome-centerUp-right; 
  border: solid 2px gray;
}
  
.positionHome-center-first { 
  grid-area: positionHome-center-first; 
  border: solid 2px gray;
}
  
.positionHome-center-second { 
  grid-area: positionHome-center-second;
  border: solid 2px gray; 
}
  
.positionHome-center-third { 
  grid-area: positionHome-center-third; 
  border: solid 2px gray;
}
  
.positionHome-center-fourth { 
  grid-area: positionHome-center-fourth; 
  border: solid 2px gray;
}

.positionHome-grid-buttons {
  background-color: #dbdbdb;
}

.positionHome-grid-btn {
  margin: 0.5rem 1rem 0.5rem 0.5rem
}
  