@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.container-sidebar {
    color: rgb(56, 60, 70);
}

.sidebar {
    background: #7386D5;
    transition: all 0.3s;
    height: 90vh;
    min-width: 15vw;       
    overflow-y: auto;    
    overflow-x: hidden;
}

.sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

.sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

.sidebar ul p {
    color: #fff;
    padding: 10px;
}

.sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
.sidebar ul li a:hover {
    color: #ffffff;
    background: rgb(62, 66, 77);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

.dashboard-link {
    background: rgb(62, 66, 77);
    color: #fff;
}

.nav-text {
    display: flex;
    justify-content: space-between;
}

.sidebar-hr-line {
    color: black;
    height: 1px;
    width: 100%;
}

@media (min-width: 600px) {
    .nav-text {font-size: small;}
}

@media (min-width: 900px) {
    .nav-text {font-size: small;}
}  

@media (min-width: 1200px) {
    .nav-text {font-size: large;}
}


