.startup {
    display: flex;
    background-color: #fff;
}

.startup-page {
    margin: 0 auto;
    padding: 2%;
    min-width: 80vw;
}

.page-title {
    border: solid rgb(62, 66, 77) 1px;
    height: 5rem!important;
    text-align: left;
    margin-bottom: 1rem;
    box-shadow: 10px 5px 5px gray;
}

.page-title-text {
    padding: 1rem;
}

.startup-content {
    display: flex;
    justify-content: space-between;
}

.startup-list-header {
    display: flex;
}

.startup-row {
    border: solid rgb(62, 66, 77) 1px;
}


.startup-list-content {
    display: flex;
}

.startup-list-content-item {
    display: flex;
}

.startup-list-content-number {
    margin-right: 0.5rem;
}

.startup-list-content-icon {
    margin-right: 0.5rem;
}